 
	   .slider-frame{
                              height:250px;
                              width:226px;
                         //border:2px solid black;
                              position:relative;
                              margin:auto;
                               margin-top:70px;
                          }
                  .img{
                              height:224px;
                              width:224px;
                         //border:1px solid black;
                              position:absolute;
                           }
                   .indicate-box{
                                 margin:auto;
                                 text-align:center;
                                 margin-top:-22px;
                              }
                  .indicator{
                              height:10px;
                              width:10px;
                             display:inline-block;
                              border:1px solid black;
                              border-radius:50%;
                           }
               